.input {
    background-color: #f1f1f1;
    border: 0.5px solid black;
    border-radius: 1rem;
    padding:0.5rem;
    font-family: 'Plus Jakarta Sans', sans-serif;
    resize: none;
}

.input-container{
    display: flex;
    flex-direction: column;
}

.error-text{
    margin:0;
    font-size: 0.8rem;
    color:red
}