.page {
    padding: 2rem;
    display: flex;
    justify-content: center;
}

.form{
    display:flex;
    width: 75%;
    flex-direction: column;
    padding: 1rem;
}

.hook-form{
    display:flex;
    flex-direction: column;
}

.button-container{
    display: flex;
    justify-content: end;
}

.button {
    margin-top: 25px;
}
