@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&display=swap');

html,
body,
#root,
.app,
.content {
  width: 100%;
  margin: 0;
  font-family: 'Plus Jakarta Sans', sans-serif;
  overflow-x: hidden; 
  box-sizing: border-box;
}